<!-- Footer -->
<footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2022 <a href="{$urlAdmidio}" class="ml-1" target="_blank">{$organizationName}</a> & <a href="http://www.ebo-it-systeme.de" class="ml-1" target="_blank">eBo IT-Systeme</a>
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            <li class="nav-item">
              <a href="https://www.klingentrail.de" class="nav-link" target="_blank">Klingentrail</a>
            </li>
            <li class="nav-item">
              <a href="https://www.rad-net.de" class="nav-link" target="_blank">BDR</a>
            </li>
            <li class="nav-item">
              <a href="{$urlImprint}" class="nav-link">{$l10n->get('SYS_IMPRINT')}</a>
            </li>
            <li class="nav-item">
                <a href="{$urlDataprotection}" class="nav-link">{$l10n->get('SYS_DATA_PROTECTION')}</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
</footer> 