<!-- Argon Scripts -->
  <!-- Core -->
  <script src="@@path/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="@@path/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="@@path/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="@@path/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Argon JS -->
  <script src="@@path_common/assets/js/admidio.js"></script>
  <script src="@@path/assets/js/dashboard.js?v=1.2.0"></script>

  <!-- FAB JS -->
  <script src="@@path_common/assets/js/mfb.min.js"></script>