<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom py-lg-3 px-lg-6 @@classes">
        <div class="container">
            <a class="navbar-brand @@logo_classes" href="{$urlAdmidio}">
                <img class="navbar-brand-dark common" src="@@path/assets/img/brand/velosg_w.svg" height="35" alt="Logo light">
                <img class="navbar-brand-light common" src="@@path/assets/img/brand/velosg.svg" height="35" alt="Logo dark">
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{$urlAdmidio}">
                                <img src="@@path/assets/img/brand/velosg.svg" height="35" alt="Logo Velo Solingen e.V.">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse"
                                data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav justify-content-center">
                    {if $id=='admidio-overview'}
                    <li class="nav-item">
                        <a href="{$urlAdmidio}/adm_program/modules/announcements/announcements.php" class="nav-link">{$l10n->get('SYS_ANNOUNCEMENTS')}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{$urlAdmidio}/adm_program/modules/photos/photos.php" class="nav-link">{$l10n->get('SYS_PHOTOS')}</a>
                    </li>
                    {/if}
                    {if $id=='admidio-announcements' || $id=='admidio-photos'}
                    <li class="nav-item">
                        <a href="{$urlAdmidio}/adm_program/overview.php" class="nav-link">{$l10n->get('SYS_OVERVIEW')}</a>
                    </li>
                    {/if}
                    {if $id=='admidio-announcements'}
                    <li class="nav-item">
                        <a href="{$urlAdmidio}/adm_program/modules/photos/photos.php" class="nav-link">{$l10n->get('SYS_PHOTOS')}</a>
                    </li>
                    {/if}
                    {if $id=='admidio-photos'}
                    <li class="nav-item">
                        <a href="{$urlAdmidio}/adm_program/modules/announcements/announcements.php" class="nav-link">{$l10n->get('SYS_ANNOUNCEMENTS')}</a>
                    </li>
                    {/if}
                    <li class="nav-item d-lg-none mt-3">
                        <a href="{$urlAdmidio}/adm_program/{if $validLogin}modules/profile/profile{else}system/login{/if}.php" class="btn btn-md btn-docs btn-outline-secondary animate-up-2 mr-3 ">{if $validLogin}<i class="fas fa-address-card mr-2"></i> Mitgliedsprofil{else}<i class="fas fa-th-large mr-2"></i> Mitgliederbereich{/if}</a>
                    </li>
                    <li class="nav-item d-lg-none mt-2">
                        {if $headline neq 'Mitgliedschaft beantragen'}<a href="{$urlAdmidio}/adm_program/{if $validLogin}system/logout{else}modules/profile/profile_new{/if}.php" class="btn btn-md btn-secondary animate-up-2">{if $validLogin}<i class="fas fa-sign-out-alt mr-2"></i> ausloggen{else}<i class="fas fa-paper-plane mr-2"></i> Mitgliedschaft beantragen{/if}</a>{/if}
                    </li>
                </ul>
            </div>
            <div class="d-none d-lg-block @@cta_button_classes">
                <a href="{$urlAdmidio}/adm_program/{if $validLogin}modules/profile/profile{else}system/login{/if}.php" class="navbar-brand-light common btn btn-md btn-docs btn-outline-white animate-up-2 mr-3">{if $validLogin}<i class="fas fa-address-card mr-2"></i> Mitgliedsprofil{else}<i class="fas fa-th-large mr-2"></i> Mitgliederbereich{/if}</a>
                <a href="{$urlAdmidio}/adm_program/{if $validLogin}modules/profile/profile{else}system/login{/if}.php" class="navbar-brand-dark common btn btn-md btn-white animate-up-2 mr-3">{if $validLogin}<i class="fas fa-address-card mr-2"></i> Mitgliedsprofil{else}<i class="fas fa-th-large mr-2"></i> Mitgliederbereich{/if}</a>
                {if $headline neq 'Mitgliedschaft beantragen'}<a href="{$urlAdmidio}/adm_program/{if $validLogin}system/logout{else}modules/profile/profile_new{/if}.php" class="btn btn-md btn-secondary animate-up-2">{if $validLogin}<i class="fas fa-sign-out-alt mr-2"></i> ausloggen{else}<i class="fas fa-paper-plane mr-2"></i> Mitgliedschaft beantragen{/if}</a>{/if}
            </div>
            <div class="d-flex d-lg-none align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
            </div>
        </div>
    </nav>
</header>